body{
    margin: 0%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
       
}
header{
    background-color: rgb(43, 10, 121);
    height: 60px;
    
}

.fab{
    font-size: 30px;
    color: white;
    float: left;
    margin-left: 15px; 
    margin-top: 25px; 
    
}
.header-logo{
   float: left;
  font-size:25px ;
  margin-top: 25px; 
   margin-left: 20px;
   color:#ffd700 ;   
}
.header-right{
    float: right; 
    transition: all 0.5s;
        
}
.header-right a{
    color:white;
    display: block;
   padding: 20px 20px;
    
}
.header-right:hover{
    background-color: black;
}
.top-wrapper{
    height:1100px;
    background-image: url(https://1.bp.blogspot.com/-fLXGOfi4u34/XxcAYs_cUgI/AAAAAAABozk/YJJNVTYcWN01mYOCh9MSpPQqVy8FNJrtQCLcBGAsYHQ/s9999/Riven.jpg);
    background-size: cover;
        
}
.top-container{
    float: left; 
   background-color: rgb(13, 7, 48);
   margin: 20px 18px;
   height: 230px;
   
   

}
.champion-icon{
  display:block;
   text-align: center;
   color: white;
   padding:60px 0;
     
}
.champion-icon a:hover{
    background-color: gold;
    
}
.top-container:hover{
    opacity: 0.8;
}

footer{
    background-color: rgb(43, 10, 121);
    padding: 30px;
    width: auto;
}